@import "scss/variables";
@import "scss/functions";

$selectorHeight: pxToRem(54);
$selectorBorderRadius: calc($selectorHeight / 2);

.languageSelector {
  background: $secondary;
  height: $selectorHeight;
  width: fit-content;
  border-radius: $selectorBorderRadius;
  border: solid pxToRem(2) $background;
  padding: pxToRem(16);
  font-size: pxToRem(28);
  color: $background;
  position: relative;
  display: flex;
  align-items: center;
  gap: pxToRem(8);

  select {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }
}
